<?php
	include_once(VIEWS_PATH.DS.'head.html');

	$conroller	= App::getRouter()->getController();
	$path		= UPLOAD_PATH.DS.$conroller.DS;
?>
<!-- Main content -->
<section class="content">
	<!-- Default box -->
	<div class="box">
		<form class="form-horizontal validate-me" action="" method="post" enctype="multipart/form-data">
			<div class="box-header with-border">
				<h3 class="box-title">
					<?php
						if($data['var']['id'] > 0) {
							echo 'Edit '.$data['var']['name'];
						} else {
							echo 'New Categorys';
						}
					?>
				</h3>
				<div class="box-tools pull-right">
					<button type="submit" class="btn btn-sm btn-success btn-flat" name="savebtn"><i class="fa fa-check"></i> Save</button>
					<button type="reset" class="btn btn-sm btn-warning btn-flat"><i class="fa fa-reply"></i> Reset</button>
					<?php if($data['var']['id'] > 0) { ?>
						<a href="<?php echo Router::link('categorys/delete/'.$data['var']['id']); ?>" name="Delete" class="btn btn-sm btn-danger btn-flat" onclick="return confirm('Are you sure to delete?');"><i class="fa fa-trash"></i> Delete</a>
					<?php } ?>
					<a class="btn btn-sm btn-primary btn-flat" href="<?php echo Router::link('categorys'); ?>"><i class="fa fa-list-ul"></i> Back</a>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<input type="hidden" name="id" value="<?php echo $data['var']['id']; ?>" />
					<div class="box-body">
						<div class="form-group">
									<label class="col-sm-2 control-label">Name:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control maxlength-handler" name="name" value="<?php echo $data['var']['name']; ?>" maxlength="100" placeholder="Name">
									</div>
								</div><div class="form-group">
									<label class="col-sm-2 control-label">Details:</label>
									<div class="col-sm-10">
										<textarea class="form-control" rows="3" name="details" placeholder="Enter detial here"><?php echo $data['var']['details']; ?></textarea>
									</div>
								</div>
					</div>
				</div>
			</div>
			<!-- /.box-body -->
			<div class="box-footer">
				<button type="submit" class="btn btn-sm btn-success btn-flat" name="savebtn"><i class="fa fa-check"></i> Save</button>
				<button type="reset" class="btn btn-sm btn-warning btn-flat"><i class="fa fa-reply"></i> Reset</button>
				<?php if($data['var']['id'] > 0) { ?>
					<a href="<?php echo Router::link('categorys/delete/'.$data['var']['id']); ?>" name="Delete" class="btn btn-sm btn-danger btn-flat" onclick="return confirm('Are you sure to delete?');"><i class="fa fa-trash"></i> Delete</a>
				<?php } ?>
			</div>
		</form>
	</div>
	<!-- /.box -->
</section>
<!-- /.content -->
